body {
    font-family: "Montserrat";
    text-align: center;
    padding-top: 60px;
}


/* Headings */

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
}

.big-heading {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

.small-heading {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 600;
}

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section {
    background-color: #393E46;
    color: #ffffff;
}

.white-section {
    background-color: #EEEEEE;
    color: #393E46;
    
}

/* Navigation Bar */

.navbar {
    padding: 1% 7% !important;
    background-color: #222831;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem !important;
    font-weight: bold;
}

.nav-item {
    padding: 0 1rem;
}
.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 300;
}

/* Title Section */


#title .container-fluid {
    padding: 7% 15%;
    color: #ffffff;
    text-align: center;
}


#title h4 {
    font-size: 1.5rem;
    color: #c4c4c4;
    padding: 2% 20%;
    line-height: 1.5;
}

/* Search Input */

.search-input {
    /* padding: 2% 25%; */
    padding: 0 25%;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Montserrat', sans-serif;
    opacity: 1; /* Firefox */
}

/* Predict Section */

#predict .container-fluid {
    padding: 3% 7% 7%;
    text-align: left;
}

.card-img-top {
    width: auto;
    height: 9rem;
    object-fit: contain;
    padding: 3% 15%;
}

.predict-box {
    margin-bottom: 2rem;
}

/* .thumbnail-img {
    width: auto;
    max-height: 100%;
    object-fit: contain;
} */

.card {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

/* Footer Section */

#footer .container-fluid {
    padding: 4% 0 0.1%;
    text-align: center;
}

.footer-link {
    color: #FFD369; 
}

.footer-link:hover {
    text-decoration: none;
    color: #ffc12b;
    
}

.copyright-text {
    color: #8590a1;
    padding-top: 3rem;
}


/* saham.html */

/* Stock Prediction Chart Section */

/* #pred-chart .container-fluid {
    padding: 4% 25% 7% 7%;
    text-align: left;
} */

.container-fluid.section-container {
    padding: 1% 25% 0.1% 7%;
    text-align: left;
}


.pred-chart-image {
    /* width: 60%; */
    border: 1px solid #c4c4c4;
}

.section-heading.pred-heading {
    margin-top: 2rem;
}

.read-p { 
    color: #404040;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}

.gray-text {
    color: #8f8f8f;
    font-weight: 300;
}
.news-image {
    width: 10vw;
    /* max-height: 100%; */
    margin: auto;
}

.news-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
 }

 /* #stock-news .container-fluid {
    padding-bottom: 2%;
 } */


/* berita.html */

#all-news .container-fluid {
    padding: 3% 35% 7% 7%;
    text-align: left;
}

/* @media (max-width: 1028px) {
    .container-fluid {
        padding-right: 15%;
    }
 } */

