<!-- Footer Section -->
<footer class="colored-section text-center" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <a href="{{ url_for('peringatan_resiko') }}" class="footer-link">Peringatan Resiko</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="footer-link">Privacy Policy</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="footer-link">Terms and Condition</a>
            </div>
        </div>
        <p class="copyright-text">© Copyright 2022 InsightSaham</p>

    </div>
    </div>
</footer>


<!-- jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
</script>
</body>

</html>