{% include "header.html" %}

    <!-- Title Section -->
    <section class="colored-section" id="title">
        <div class="container-fluid" style="padding-bottom: 50px;">
            <h1 class="big-heading">Peringatan Resiko</h1>
        </div>
    </section>

    <!-- Predict Section -->
    <section class="white-section" id="predict">
        <div class="container-fluid">
            <div><p class="read-p">Saham merupakan salah satu produk investasi dengan tingkat risiko yang cukup tinggi sehingga perlu analisis lebih lanjut. 
                Semua Investasi mengandung risiko dan kemungkinan kerugian nilai investasi. Kinerja pada masa lalu tidak mencerminkan kinerja di masa depan.
                Kinerja historikal, expected return dan proyeksi probabilitas disediakan untuk tujuan informasi dan illustrasi.
                Anda sebaiknya tidak menjadikan prediksi yang diberikan oleh InsightSaham.id sebagai satu-satunya acuan anda dalam berinvestasi.
                InsightSaham.id tidak dibuat untuk menggantikan analisis saham secara fundamental dan menyeluruh namun hanya sebagai opsi untuk prediksi dengan kepastian yang kecil.
                InsightSaham.id tidak bertanggung jawab jika terjadi kesalahan dalam melakukan prediksi. 
            </p></div>
        </div>
    </section>

    {% include "footer.html" %}