{% include "header.html" %}

    <!-- Title Section -->
    <section class="colored-section" id="title">
        <div class="container-fluid" style="padding-bottom: 50px;">
            <h1 class="big-heading">Tentang InsightSaham.id</h1>
        </div>
    </section>
    <!-- Predict Section -->
    <section class="white-section" id="predict">
        <div class="container-fluid">
            <div style="text-align: justify;">
                <p class="read-p">InsightSaham.id adalah layanan yang memungkinkan pengguna untuk dapat memprediksi harga saham pada masa depan dengan bantuan Artificial Intelligence.
                    Serta memberikan insight berbagai perusahaan publik melalui portal berita terkini.
                </p>
            </div>
        </div>
    </section>
    
    {% include "footer.html" %}